@use '../../styles/main' as main;

.favoritesPage {
  @include main.content-padding-inline;

  &__empty-content {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 40px;

    font-family: Mont-SemiBold, sans-serif;
    font-size: 48px;
    font-weight: 500;
    color: var(--color-gray-secondary);
  }

  &__title {
    margin-top: 16px;
    margin-bottom: 40px;

    font-family: Mont-Bold, sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
    color: var(--color-gray-primary);
    letter-spacing: -0.01em;
  }

  &__description {
    font-family: Mont-Regular, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: var(--color-gray-secondary);
  }
}
