@use '../../../styles/main' as main;

.productsList {
  gap: 40px 16px;
  margin-top: 24px;

  @include main.page-grid;

  @media (max-width: 640px) {
    .productItem {
      grid-column: 1 / -1;
    }
  }

  @include main.on-tablet {
    .productItem {
      grid-column: span 6;
    }
  }

  @media (min-width: 768px) {
    .productItem {
      grid-column: span 4;
    }
  }

  @include main.on-desktop {
    .productItem {
      grid-column: span 6;
    }
  }
}
